<div class="contents row">
  <% @thinks.each do |think| %>
    <div class="content_post" style="background-image: url(<%= think.image %>);">
      <p><%= think.titel %></p>
      <span class="comment">
        <%= think.comment %>
      </span>
    </div>
  <% end %>
</div>